In [2]:
import pandas as pd
import numpy as np

In [3]:
datasets = pd.read_csv('pacific.csv')

In [4]:
datasets.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [5]:
datasets.tail()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
26132,EP222015,SANDRA,20151128,1200,,LO,21.7N,109.0W,35,1002,...,0,0,0,0,0,0,0,0,0,0
26133,EP222015,SANDRA,20151128,1800,,LO,22.4N,108.7W,30,1007,...,0,0,0,0,0,0,0,0,0,0
26134,EP222015,SANDRA,20151129,0,,LO,23.1N,108.3W,30,1008,...,0,0,0,0,0,0,0,0,0,0
26135,EP222015,SANDRA,20151129,600,,LO,23.5N,107.9W,25,1009,...,0,0,0,0,0,0,0,0,0,0
26136,EP222015,SANDRA,20151129,1200,,LO,24.2N,107.7W,20,1010,...,0,0,0,0,0,0,0,0,0,0

In [6]:
change_status = np.where(datasets['Status'] =='LO', 0,1)

In [7]:
print(change_status)

[1 1 1 ... 1 1 1]

In [8]:
y = change_status
x = datasets[["Maximum Wind", "Moderate Wind NE", "Moderate Wind SE", "Low Wind SW"]]

In [9]:
print(x)

       Maximum Wind  Moderate Wind NE  Moderate Wind SE  Low Wind SW
0                45              -999              -999         -999
1                45              -999              -999         -999
2                45              -999              -999         -999
3                45              -999              -999         -999
4                45              -999              -999         -999
...             ...               ...               ...          ...
26132            35                 0                 0            0
26133            30                 0                 0            0
26134            30                 0                 0            0
26135            25                 0                 0            0
26136            20                 0                 0            0

[26137 rows x 4 columns]

In [10]:
print(y)

[1 1 1 ... 1 1 1]

In [11]:
# Data slicing 'training, testing, spliting'
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [12]:
# fitting our model
from sklearn.ensemble import RandomForestClassifier
RandomForest = RandomForestClassifier()
RandomForest.fit(x_test, y_test)

RandomForestClassifier()